<div class="row" style="margin-top:40px; padding:20px;">
    <div class="col-lg-12" style="text-align:center;">
      <h1 style="font-weight:inherit; font-size: 55px;">Create your new Manager Account</h1>
      <div class="col-sm-12" style="color: #28c3d4; font-weight: bold">
            Solving Global Climatic Crisis Empowering Women
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="mt-4 col-md-12">
  
    </div>
  
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
  
  
          <div class="input-group">
  
  
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">FIRST NAME</label>
            <input class="form-control" name="first_name" id="firstname" type="text"
              placeholder="Your First Name">
  
          </div>

          <div class="input-group">
  
  
                <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">LAST NAME</label>
                <input class="form-control" name="last_name" id="lastname" type="text"
                  placeholder="Your Last Name">
      
              </div>
          <div class="input-group">
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">EMAIL</label>
            <input type="email" class="form-control" name="email" id="email_" placeholder="Your Email">
  
  
          </div>
          <div class="input-group">
                <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">AGE</label>
                <input type="number" class="form-control" name="age" id="age" placeholder="Your Age">
      
      
              </div>
                        <div class="input-group">
                <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">SEX</label>
                <input type="text" class="form-control" name="sex" id="sex" placeholder="Your Sex">
      
      
              </div>
                  <div class="input-group">
                        <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">ADDRESS</label>
                        <input type="text" class="form-control" name="address" id="address" placeholder="Your Address">
              
              
                      </div>
                      <div class="input-group">
                            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">COUNTRY</label>
                            <input type="text" class="form-control" name="country" id="country" placeholder="Your Country">
                  
                  
                          </div>
                          <div class="input-group">
                            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">CONTACT NUMBER</label>
                            <input type="number" class="form-control" name="contact" id="contact" placeholder="Your Contact Number">
                  
                  
                          </div>
          <div class="input-group">
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">PASSWORD</label>
            <input type="password" class="form-control" name="password" id="password_"
              placeholder="Your Password">
  
          </div>
          <div class="input-group">
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">CONFIRM PASSWORD</label>
            <input type="password" class="form-control" name="cpass" id="cpass_" placeholder="Confirm Password">
  
          </div>
          <div class="mt-4 col-md-12">
  
          </div>
          <div class="input-group">
            <button class="btn btn-lg form-control" type="submit" style="background-color: #28c3d4" (click)="register_caregiver()">CREATE
              ACCOUNT</button>
  
          </div>
          <div class="input-group">
            <button class="btn btn-primary form-control btn-lg" style="background-color: rgb(0, 95, 213)" [routerLink]="['/home']">BACK TO HOME</button>
          </div>
  
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>