h1{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  }

  html, body{
    height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
  }
  
  body{
    background-color: #000000;
    background-image: radial-gradient(#292929, #000000);
  }
  
//   @function box-shadow($stars) {
//       $bxshadow: ();
//       @for $i from 1 to $stars {
//           $bxshadow: append($bxshadow, (random(2000) + 0px) (random(2000) + 0px) #fff, comma);
//       }
//       @return unquote($bxshadow);
//   }
  
  $bxshadow-large: box-shadow(25);
  $bxshadow-medium: box-shadow(100);
  $bxshadow-small: box-shadow(150);
  
  .stars.large {
      height: 3px;
      width: 3px;
      background: transparent;
      box-shadow: $bxshadow-large;
  }
  
  .stars.medium {
      height: 2px;
      width: 2px;
      background: transparent;
      box-shadow: $bxshadow-medium;
  }
  
  .stars.small {
      height: 1px;
      width: 1px;
      background: transparent;
      box-shadow: $bxshadow-small;
  }
  
  .wrapper{
    width: 500px;
    height: 350px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .earth{
    width: 250px;
    height: 250px;
    color: #1DA1C1;
    font-size: 380px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 35px 2px rgba(255,255,255,.15), inset -25px -5px 40px 20px rgba(0,0,0,.6);
    
    i{
      background-color: #8BC34A;
      z-index: -1;
      animation: 5s ease-in-out 0s normal none infinite land-move;
    }
    
    .face{
      position: absolute;
      width: 100%;
      height: 100%;
      
      div{
        width: 60px;
        height: 20px;
        border-radius: 20px;
        position: absolute;
        top: 65%;
        left: 30%;
        transform: translate(-50%, -50%);
        box-shadow: inset 0px -22px 0px 0px #252730, 2px 5px 5px -3px rgba(0,0,0, 0.5);
        animation: 5s ease-in-out 0s normal none infinite face-move;
        
        
        &:before, &:after{
          content: '';
          width: 40px;
          height: 40px;
          box-sizing: border-box;
          background-color: #000000;
          box-shadow: inset -5px -5px 0px 15px #ffffff, 2px 2px 5px rgba(0,0,0, 0.5);
          border-radius: 50%;
          position: absolute;
          animation: 5s ease-in-out 0s normal none infinite eye-ball;
          top: -80px;
        }
        
        &:before{
          left: -15px;
        }
        &:after{
          right: -15px;
        }
      }
    }
  }
  
  .moon{
    width: 80px;
    height: 80px;
    background-color: #e3f2fd;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 5s ease-in-out 0s normal none infinite moon-move;
    box-shadow: 0 0 35px 2px rgba(255,255,255,.5), inset -25px -5px 30px 10px rgba(0,0,0,.5);
    
    .face{
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin: right;
      animation: 5s linear 0s normal none infinite moon-face-move;
      
      div{
        width: 25px;
        height: 8px;
        border-radius: 20px;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,1);
        border-radius: 50%;
        
        
        &:before, &:after{
          content: '';
          width: 10px;
          height: 10px;
          box-sizing: border-box;
          background-color: #ffffff;
          box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,1);
          border-radius: 50%;
          position: absolute;
          top: -20px;
        }
        
        &:before{
          left: -5px;
        }
        &:after{
          right: -5px;
        }
      }
    }
  }
  
  
  @keyframes face-move{
    0%{
      box-shadow: inset 0px -22px 0px 0px #252730, 2px 5px 5px -3px rgba(0,0,0, 0.5);
    }
    50%{
      top: 60%;
      left: 75%;
      height: 60px;
      border-radius: 50%;
      box-shadow: inset 0px -22px 0px 0px #252730, 2px 5px 5px -3px rgba(0,0,0, 0.5);
    }
    100%{
      box-shadow: inset 0px -22px 0px 0px #252730, 2px 5px 5px -3px rgba(0,0,0, 0.5);
    }
  }
  
  @keyframes land-move{
    0%{
      margin-left: 0px;
    }
    50%{
      margin-left: 50px;
    }
    100%{
      margin-left: 0px;
    }
  }
  
  @keyframes eye-ball{
    0%{
      box-shadow: inset -5px 5px 0px 15px #ffffff, 2px 2px 5px rgba(0,0,0, 0.5);
    }
    50%{
      box-shadow: inset 5px -2px 0px 12px #ffffff, 2px 2px 5px rgba(0,0,0, 0.5);
      top: -45px;
    }
    100%{
      box-shadow: inset -5px 5px 0px 15px #ffffff, 2px 2px 5px rgba(0,0,0, 0.5);
    }
  }
  
  @keyframes moon-move{
    0%{
      left: 12%;
      top: 55%;
      z-index: 5;
    }
    50%{
      left: 88%;
      top: 45%;
    }
    100%{
      left: 12%;
      top: 55%;
      z-index: -5;
    }
  }
  
  @keyframes moon-face-move{
    0%{
      transform: rotateY(0deg);
      opacity: 1;
      transform-origin: right;
    }
    25%{
      transform: rotateY(45deg);
      opacity: 0.5;
      transform-origin: right;
    }
    50%{
      transform: rotateY(90deg);
      opacity: 0;
      transform-origin: right;
    }
    75%{
      transform: rotateY(90deg);
      opacity: 0;
      transform-origin: left;
    }
    100%{
      transform: rotateY(0deg);
      opacity: 1;
      transform-origin: left;
    }
  }
  