<h1>{{all_data.manager.first_name}} {{all_data.manager.last_name}}</h1>
<span>Email : {{all_data.manager.email}}</span>
<span>Age : {{all_data.manager.age}}</span>
<span>Sex : {{all_data.manager.sex}}</span>
<span>Address : {{all_data.manager.address}}</span>
<span>Country : {{all_data.manager.counrty}}</span>
<span>Phone Number : {{all_data.manager.phone_number}}</span>

<hr>
<hr>
<hr>

<h2>{{all_data.mentor.first_name}} {{mentor_shg.mentor.last_name}}</h2>
<span>Email : {{all_data.mentor.email}}</span>
<span>Age : {{all_data.mentor.age}}</span>
<span>Sex : {{all_data.mentor.sex}}</span>
<span>Address : {{all_data.mentor.address}}</span>
<span>Country : {{all_data.mentor.counrty}}</span>
<span>Phone Number : {{all_data.mentor.phone_number}}</span>
<p>About : {{all_data.mentor.about}}</p>

<hr>

<h3>SHG : {{all_data.shg.name}}</h3>
<p>About : {{all_data.shg.about}}</p>
<span>Address : {{all_data.shg.address}}</span>
<span>Country : {{all_data.shg.country}}</span>
<span>Amount : {{all_data.shg.amount}}</span>