<nav>
    <span class="nav-button">
        	&#9776;
        </span>
    <ul class="nav" role="navigation">
      <li class="active">
          <!-- <img src="../../assets/home.png" class="img img-responsive feed-avatar"> -->
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
      </li>
      <li class="active">
        <a [routerLink]="['/achievements']" routerLinkActive="router-link-active" >Achievements</a>
      </li>
      <li>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
        <ul class="nav__sub">
          <li>
            <a [routerLink]="['/login']" routerLinkActive="router-link-active" >User</a>
          </li>
          <li>
            <a [routerLink]="['/login-mentor']" routerLinkActive="router-link-active" >Mentor</a>
          </li>
          <li>
            <a [routerLink]="['/login-manager']" routerLinkActive="router-link-active" >Manager</a>
          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/signup']" routerLinkActive="router-link-active" >Signup</a>
        <ul class="nav__sub">
          <li>
            <a [routerLink]="['/signup']" routerLinkActive="router-link-active" >User</a>
          </li>
          <li>
            <a [routerLink]="['/signup-mentor']" routerLinkActive="router-link-active" >Mentor</a>
          </li>
          <li>
            <a [routerLink]="['/signup-manager']" routerLinkActive="router-link-active" >Manager</a>
          </li>
        </ul>
      </li>
      <li>
          <a [routerLink]="['/transaction']" routerLinkActive="router-link-active">Transactions</a>
        </li>
        <li>
            <a href="#">LMS</a>
          </li>
      <li>
        <a href="#">contact</a>
      </li>
    </ul>
  </nav>
