
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

@import url(https://fonts.googleapis.com/css?family=Inder|Great+Vibes);

// ---------------------------------------------
// Variables
// ---------------------------------------------

// colors
$green-tomato: #24662A;
$blue: rgb(0, 95, 213);
$blue-dark: darken($blue, 8%);
$rotten-tomatoes: darken($blue, 15%);
$bannerPadding: 40px;
$buttonDefaultColor: #eee;
$buttonSmall: 10px 15px;
$buttonMedium: 10px 20px;

/* container */
nav {  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-color: $blue;
  border-radius: 4px;
  box-shadow: 0 3px 0 0 $blue-dark;
  
  .nav-button {
    display: none;
    padding: 10px;
    color: #fff;
    background-color: $blue;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    
    &:hover {
      color: #eee;
    }
  }
}

/* navigation */
.nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  background: $blue;
  margin: 0 auto ;
  padding: 0 40px;
  height: initial;
  transition: height .3s ease;

  > li {
    list-style: none;
    
    a {
      display: block;  
      font-family: "josefin sans";
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      padding: 30px 15px;
    }
    // change link color 
    &:hover > a {
      background: $blue-dark;
      color: #f7f7f7;
    }
    // display submenu
    &:hover > .nav__sub {
      display: flex;
      flex-direction: column;
    }
  }
}

/* Sub navigation */
.nav__sub {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background: $blue-dark;
  
  > li {
     display: flex;
     position: relative;
    
    > a {
      padding: 15px 60px;
      font-size: 15px;
      flex: 1 1 auto;
      
      &:hover {
        background: $rotten-tomatoes;
      }
    }
  }
}



// @media all and (max-width: 980px) {
//   .banner {
//     padding-top: 0;
//   }
  
//   nav {
//     border-radius: 0;    
//     &.visible {
//       .nav {
//         height: initial;
//         overflow: initial;
//         transition: height .3s ease;
//         flex: 1 1 auto;
//       }
//     }
//     .nav-button {
//       display: inline-flex;
//       flex: 1 1 auto;
//     }
//   }
  
//   .nav {
//     height: 0;
//     width: 100%;
//     overflow: hidden;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     padding: 0;
//     flex-wrap: nowrap;
//     align-content: stretch;
    
//     li {
//       width: 100%;
//       &:hover .nav__sub {
//         display: flex;
//         flex-direction: column;
//       }
//       a {
//         text-align: center;
//       }
//     }
//   }
  
//  .nav__sub {
//     flex-direction: column;
//     align-items: stretch;
//     justify-content: center;
//     flex-wrap: wrap;
//     align-content: stretch;
//     position: initial;
   
//     li {
//       flex: 0 1 auto;
//     }
//   }
// }

.button {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #eee;
  text-decoration: none;
  color: #333;
  transition: background-color .5s ease;
  &:hover,
  &:active {
    color: #fff;
    background-color: darken(#eee, 50%);
    transition: background-color .5s ease;
  }
  
  &--primary {
    background-color: $blue;
    color: #fff;
    
    &:hover,
    &:active {
      background-color: darken($blue, 10%);
      color: #eee;
    }
  }
}