<nav>
    <span class="nav-button">
        	&#9776;
        </span>
    <ul class="nav" role="navigation" *ngIf="current_user=='home'">
      <li class="active">
          <!-- <img src="../../assets/home.png" class="img img-responsive feed-avatar"> -->
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
      </li>

      <li>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
        <ul class="nav__sub">
          <li>
            <a [routerLink]="['/login']" routerLinkActive="router-link-active" >User</a>
          </li>
          <li>
            <a [routerLink]="['/login-mentor']" routerLinkActive="router-link-active" >Mentor</a>
          </li>
          <li>
            <a [routerLink]="['/login-manager']" routerLinkActive="router-link-active" >Manager</a>
          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/signup']" routerLinkActive="router-link-active" >Signup</a>
        <ul class="nav__sub">
          <li>
            <a [routerLink]="['/signup']" routerLinkActive="router-link-active" >User</a>
          </li>
          <li>
            <a [routerLink]="['/signup-mentor']" routerLinkActive="router-link-active" >Mentor</a>
          </li>
          <li>
            <a [routerLink]="['/signup-manager']" routerLinkActive="router-link-active" >Manager</a>
          </li>
        </ul>
      </li>
      <li>
          <a [routerLink]="['/transaction']" routerLinkActive="router-link-active">Transactions</a>
        </li>
        <li>
            <a [routerLink]="['/lms']" routerLinkActive="router-link-active">e-Learning</a>
          </li>
          <li class="active">
            <a [routerLink]="['/achievements']" routerLinkActive="router-link-active" >Climate Champions</a>
          </li>
      <li>
        <a href="#">contact</a>
      </li>
    </ul>



    <ul class="nav" role="navigation" *ngIf="current_user=='manager'">
        <li class="active">
            <a [routerLink]="['manager/dashboard/agriculture']" routerLinkActive="router-link-active" >Agriculture</a>
          </li>
          <li class="active">
              <a [routerLink]="['manager/dashboard/vegetation']" routerLinkActive="router-link-active" >Vegetation</a>
            </li>
      <li class="active">
        <a [routerLink]="['/manager/dashboard']" routerLinkActive="router-link-active" >Mentors</a>
      </li>
      <li>
        <a >Pending</a>
        <ul class="nav__sub">
          <li>
            <a [routerLink]="['/manager/dashboard/pending/mentors']" routerLinkActive="router-link-active" >Mentors</a>
          </li>
          <li>
            <a [routerLink]="['/manager/dashboard/pending/shg']" routerLinkActive="router-link-active" >SHGs</a>
          </li>
        </ul>
      </li>
      <li class="active">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="logOut()">Log Out</a>
      </li>
    </ul>



    <ul class="nav" role="navigation" *ngIf="current_user=='user'">
      <li class="active">
        <a [routerLink]="['/user/join-shg']" routerLinkActive="router-link-active" *ngIf="!partOfSHG">Join SHG</a>
      </li>
      <li class="active">
          <a [routerLink]="['/user/my-shg']" routerLinkActive="router-link-active" *ngIf="partOfSHG">My SHG</a>
      </li>
      <li class="active">
          <a [routerLink]="['/user/fund-shg']" routerLinkActive="router-link-active" >Raise Fund</a>
      </li>
      <li class="active">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active" (click)=logOut()>Log Out</a>
      </li>
    </ul>



    <ul class="nav" role="navigation" *ngIf="current_user=='mentor'">
      <li class="active">
        <a [routerLink]="['/mentor/apply-shg']" routerLinkActive="router-link-active" *ngIf="!hasCreatedSHG">Apply for SHG</a>
      </li>
      <li class="active">
          <a [routerLink]="['/mentor/my-shg']" routerLinkActive="router-link-active" *ngIf="hasCreatedSHG">My SHG</a>
      </li>
      <li class="active">
          <a [routerLink]="['/mentor/lms']" routerLinkActive="router-link-active" >LMS</a>
      </li>
      <li class="active">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active" (click)=logOut()>Log Out</a>
      </li>
    </ul>



    
  </nav>
