<nav>
    <span class="nav-button">
        	&#9776;
        </span>
    <ul class="nav" role="navigation">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
      <li>
        <a href="#">Signup</a>
        <!-- <ul class="nav__sub">
          <li>
            <a href="#">pizzas</a>
          </li>
          <li>
            <a href="#">esfihas</a>
          </li>
        </ul> -->
      </li>
      <li>
        <a href="#">contact</a>
      </li>
    </ul>
  </nav>
