<div class="row" style="margin-top:40px; padding:20px;">
    <div class="col-lg-12" style="text-align:center;">
      <h1 style="font-weight:inherit; font-size: 55px;">Create your new Account</h1>
      <div class="col-sm-12">
        Brandline 1
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="mt-4 col-md-12">
  
    </div>
  
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
  
  
          <div class="input-group">
  
  
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">NAME</label>
            <input class="form-control" name="full_name" id="fullname" type="text"
              placeholder="Your Name">
  
          </div>
          <div class="input-group">
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">EMAIL</label>
            <input type="email" class="form-control" name="email" id="email_" placeholder="Your Email">
  
  
          </div>
          <div class="input-group">
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">PASSWORD</label>
            <input type="password" class="form-control" name="password" id="password_"
              placeholder="Your Password">
  
          </div>
          <div class="input-group">
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">CONFIRM PASSWORD</label>
            <input type="password" class="form-control" name="cpass" id="cpass_" placeholder="Confirm Password">
  
          </div>
          <div class="mt-4 col-md-12">
  
          </div>
          <div class="input-group">
            <button class="btn btn-success btn-lg form-control" type="submit" style="background-color: #24662A" (click)="register_caregiver()">CREATE
              ACCOUNT</button>
  
          </div>
          <div class="input-group">
            <button class="btn btn-primary form-control btn-lg" style="background-color: rgb(0, 95, 213)" [routerLink]="['/home']">BACK TO HOME</button>
          </div>
  
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>