
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../assets/css/flaticon.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="../assets/css/style.css"/>

<section class="courses-section spad">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Your Courses</h2>
        </div>
        <div class="course-slider owl-carousel">
            <!-- course -->
            <div class="course-item ">
                <a [routerLink]="['/courses', 'sustainable-use-of-resources']">
                  <figure class="course-preview">
                      <img src="../assets/courses/9.jpg" alt="">
                  </figure>

                <div class="course-content">
                    <div class="cc-text">
                        <h5>Sustainable Use of Resources</h5>
                        <p>This course teaches about the importance of depleting natural resources and practices that lead to sustainable use of these reources. </p>
                        <span><i class="flaticon-student-2"></i>20</span>
                        <span><i class="flaticon-placeholder"></i>3</span>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star i-fade"></i>
                        </div>
                    </div>
                </div>
              </a>
            </div>
            <!-- course -->
            <div class="course-item">
              <a [routerLink]="['/courses', 'pollution']">
                <figure class="course-preview">
                    <img src="../assets/courses/2.jpg" alt="">
                </figure>
                <div class="course-content">
                    <div class="cc-text">
                        <h5>Pollution</h5>
                        <p>This course teaches about practices and substances/materials that lead to pollution and teaches practices that cut down on pollution. </p>
                        <span><i class="flaticon-student-2"></i>20</span>
                        <span><i class="flaticon-placeholder"></i>3</span>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star i-fade"></i>
                        </div>
                    </div>
                </div>
              </a>
            </div>
            <!-- course -->
            <div class="course-item">
                <a [routerLink]="['/courses', 'digital-literacy']">
                <figure class="course-preview">
                    <img src="../../assets/courses/3.jpg" alt="">
                </figure>
                <div class="course-content">
                    <div class="cc-text">
                        <h5>Digital Literacy</h5>
                        <p>This course teaches people the basics of using the internet to communicate, gather information and use it as a means of business. </p>
                        <span><i class="flaticon-student-2"></i>20</span>
                        <span><i class="flaticon-placeholder"></i>3</span>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star i-fade"></i>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <!-- course -->
            <div class="course-item">
                <a [routerLink]="['/courses', 'rain-water-harvesting']">
                <figure class="course-preview">
                    <img src="../../assets/courses/4.jpg" alt="">
                </figure>
                <div class="course-content">
                    <div class="cc-text">
                        <h5>Rain Water Harvesting</h5>
                        <p>This course helps people to follow basics of rainwater harvesting in everyday life and also teaches them about the value of water as a commodity. </p>
                        <span><i class="flaticon-student-2"></i>20</span>
                        <span><i class="flaticon-placeholder"></i>3</span>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star i-fade"></i>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <!-- course -->
            <!-- course -->
            <div class="course-item">
                <a [routerLink]="['/courses', 'women-health-and-sanitation']">
                <figure class="course-preview">
                    <img src="../../assets/courses/7.jpg" alt="">
                </figure>
                <div class="course-content">
                    <div class="cc-text">
                        <h5>Women Health and Sanitation</h5>
                        <p>This course teaches women about the importance of physical, mental, and social wellbeing and how to lead a healthy life by following basic practices. </p>
                        <span><i class="flaticon-student-2"></i>20</span>
                        <span><i class="flaticon-placeholder"></i>3</span>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star i-fade"></i>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <!-- course -->
            <div class="course-item">
                <a [routerLink]="['/courses', 'basics-of-marketing']">
                <figure class="course-preview">
                    <img src="../../assets/courses/10.jpg" alt="">
                </figure>
                <div class="course-content">
                    <div class="cc-text">
                        <h5>Basics of Marketing</h5>
                        <p>This course teaches people the necessary skills to start selling products or services, using competent and basic marketing techniques. </p>
                        <span><i class="flaticon-student-2"></i>20</span>
                        <span><i class="flaticon-placeholder"></i>3</span>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star i-fade"></i>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>

