<!-- <ul>
    <li *ngFor="let mentor_shg of mentors_shgs;">
        Mentor Name : {{mentor_shg.mentor.first_name}} {{mentor_shg.mentor.last_name}} 
        SHG Name : {{mentor_shg.shg.name}}

        LINK TO THE manager-mentor_shg COMPONENT ALONG WITH THE DATA OF mentor AND shg
        <a>

        </a>
    </li>
</ul> -->

<!-- <div class="container">
        <div class="row">
                Name: {{ manager?.first_name }} {{ mentor?.last_name }}
            </div>
            <div class="row">
                    Total Mentors Count: {{mentor?.mentors.length || 0}}
                </div>
    <div class="row">
        Pending Mentors Count: {{mentor?.pending_mentors.length || 0}}
        </div>
        <div class="row">
            Pending SHGs Count: {{mentor?.pending_shgs.length || 0}}
            </div>
</div> -->

<div class="container" style="margin-top: 5%;">
    <div class="row">
    <div class="col-md-3" *ngFor="let mentor of mentor_shg" style="border: 1px solid; width: 200px; margin-left: 25px; margin-right: 25px">

        <div class="row">
                <label class="btn form-control" style="background-color: #28c3d4">Mentor Name</label>
                <h5 style="margin-left: 20px;">{{mentor?.mentor?.first_name}} {{mentor?.mentor?.last_name}} </h5>
        </div>

        <div class="row">
                <label class="btn form-control" style="background-color: #28c3d4">SHG Name</label>
                <h5 style="margin-left: 20px;">{{mentor?.shg?.name || 'No SHGs Joined'}}</h5>
        </div>


        <!-- LINK TO THE manager-mentor_shg COMPONENT ALONG WITH THE DATA OF mentor AND shg -->
        <a [routerLink]="['/manager/mentor/shg/detail', mentor.mentor._id]"
        routerLinkActive="router-link-active">
            View Details
        </a>
    </div>
    </div>
</div>
