
<link rel="stylesheet" href="../assets/css/bootstrap.min.css"/>
<link rel="stylesheet" href="../assets/css/flaticon.css"/>
<link rel="stylesheet" href="../assets/css/style.css"/>


<section id="courses-single" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <a [routerLink]="['/lms']">
                <div class="courses-single-left mt-30 card">
                    View courses
                </div>
              </a>
            </div>
        </div>
    </div>
</section>
