<div *ngIf="this.mentor && this.shg">
<h2>{{this.mentor?.first_name}} {{mentor.last_name}}</h2>
<span>Email : {{mentor.email}}</span>
<span>Age : {{mentor.age}}</span>
<span>Sex : {{mentor.sex}}</span>
<span>Address : {{mentor.address}}</span>
<span>Country : {{mentor.counrty}}</span>
<span>Phone Number : {{mentor.phone_number}}</span>
<p>About : {{mentor.about}}</p>

<hr>

<h3>SHG : {{shg.name}}</h3>
<p>About : {{shg.about}}</p>
<span>Address : {{shg.address}}</span>
<span>Country : {{shg.country}}</span>
<span>Amount : {{shg.amount}}</span>
<h5>Logs :- </h5>
<ul *ngIf="shg.logs">
    <li *ngFor="let log of shg.logs">
        {{log}}
    </li>
</ul>
</div>