<div class="row" style="margin-top:40px; padding:20px;">
    <div class="col-lg-12" style="text-align:center;">
      <h1 style="font-weight:inherit; font-size: 55px;">Create your new Mentor Account</h1>
      <div class="col-sm-12" style="color: #28c3d4; font-weight: bold">
            Solving Global Climatic Crisis Empowering Women
        </div>
    </div>
  </div>
  
  <div class="row">
    <div class="mt-4 col-md-12">
  
    </div>
  
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
  
  
          <div class="input-group">
  
  
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">FIRST NAME</label>
            <input class="form-control" [(ngModel)]="first_name" name="first_name" id="firstname" type="text"
              placeholder="Your First Name">
  
          </div>

          <div class="input-group">
  
  
                <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">LAST NAME</label>
                <input class="form-control" [(ngModel)]="last_name" name="last_name" id="lastname" type="text"
                  placeholder="Your Last Name">
      
              </div>
          <div class="input-group">
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">EMAIL</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email_" placeholder="Your Email">
  
  
          </div>
          <div class="input-group">
                <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">AGE</label>
                <input type="number" class="form-control" [(ngModel)]="age" name="age" id="age" placeholder="Your Age">
      
      
              </div>
                        <div class="input-group">
                <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">SEX</label>
                <input type="text" class="form-control" [(ngModel)]="sex" name="sex" id="sex" placeholder="Your Sex">
      
      
              </div>
                  <div class="input-group">
                        <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">ADDRESS</label>
                        <input type="text" class="form-control" [(ngModel)]="address" name="address" id="address" placeholder="Your Address">
              
              
                      </div>
                      <div class="input-group">
                            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">COUNTRY</label>
                            <input type="text" class="form-control" [(ngModel)]="country" name="country" id="country" placeholder="Your Country">
                  
                  
                          </div>
                          <div class="input-group">
                            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">CONTACT NUMBER</label>
                            <input type="number" class="form-control" [(ngModel)]="phone_number" name="contact" id="contact" placeholder="Your Contact Number">
                  
                  
                          </div>
                          <div class="input-group">
                                <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">ABOUT</label>
                                <textarea type="text" [(ngModel)]="about" class="form-control" name="about" id="about" placeholder="Please write a few lines about yourself..."></textarea>
                      
                      
                              </div>
          <div class="input-group">
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">PASSWORD</label>
            <input type="password" [(ngModel)]="password" class="form-control" name="password" id="password_"
              placeholder="Your Password">
  
          </div>
          <div class="input-group">
            <label class="btn-primary btn-lg form-control" style="background-color: rgb(0, 95, 213)">CONFIRM PASSWORD</label>
            <input type="password" class="form-control" name="cpass" id="cpass_" placeholder="Confirm Password">
  
          </div>
          
          <div class="input-group">
              <label class="btn-primary btn-lg form-control"
                  style="background-color: rgb(0, 95, 213)">MANAGER</label>
              <select [(ngModel)]="selectedManager" class="form-control">
                  <option *ngFor="let manager of managers" [ngValue]="manager">{{manager.name}}</option>
              </select>
          </div>

          <div class="input-group">
            <button class="btn btn-lg form-control" type="submit" style="background-color: #28c3d4" (click)="signupMentor()">APPLY TO BE MENTOR</button>
  
          </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>